<div>
<h3>0-40 баллов (Ваш результат: {{ result }})</h3>
<h2>ФИНАНСОВЫЙ IQ – ОБЫЧНЫЙ, НИЗКИЙ</h2>
<div>
Деньги владеют вами больше, чем вы – деньгами.
Финансы с трудом поддаются управлению, либо финансовая сторона жизни вас мало интересует.
Вероятны периодические и повторяющиеся финансовые проблемы.
Если не уделять деньгам должного внимания – они могут сыграть с вами злую шутку.
К сожалению, это является обычным делом. Это связано с тем, что нас не учат деньгам нигде: ни 
в школе, ни в институте – нигде нас не учат деньгам. Мы все - финансовые самоучки. Я не рекомендую инвестировать, если у вас финансовый IQ до 40 балов, до тех пор, пока вы финансовый 
IQ не выведете хотя бы больше 40. Это просто может быть опасно инвестировать. 
</div>
</div>
