<div>
<h3>141
-
200 баллов (Ваш результат: {{ result }})</h3>
<h2>
ФИНАНСОВЫЙ IQ ОЧЕНЬ ВЫСОКИЙ
–
ВАС МОЖНО НАЗВАТЬ 
БОГАТЫМ</h2>
<div>
Вас можно
поздравить!
Вы с деньгами на ТЫ, деньги работают на вас, приносят вам радость и 
удовольствие,
Как  правило,  ваши  доходы  намного  превышают  ваши  расходы,  и  вам 
остается только грамотно настроить свой инвестиционный портфель, чтобы 
богатство стабильно росло и
множилось!
Деньги здесь 
не 
яв
ляются ни проблемой, ни задачей.
Деньги 
-
это 
атрибут.  Они  вообще  есть.  НО! 
Здесь  инвестиции 
требуют  очень 
тщательного  контроля.  Если,  например,  на  позиции,  когда  до 
141 
в 
инвестиции еще можно было рисковать
, т
о на этом уровне уже 
инвестиции 
более  консервативные
.  Хотя  они  могут  быть  прибыльными.  Они  могут 
приносить и 
100% 
годовых
,
и выше.
Но уровень контроля здесь должен быть 
очень высокий. Зачем это 
нужно? 
–
Чтобы не слиться в обратную сторону. Здесь ситуация, 
несмотря на 
свою кажущуюся 
«
вау
,
жизнь удалась
»
, на самом деле еще шаткая! 
М
ожет 
запросто в обратную сторону бабахнуть. 
</div>
</div>
