<div>
<h3>81
-
140 баллов (Ваш результат: {{ result }})</h3>
<h2>
ФИНАНСОВЫЙ IQ 
–
ВЫСОКИЙ</h2>
<div>
Вы  уверенно  управляете  своими  деньгами,  знаете  и  используете  Законы 
Денег себе во благо и в карман.
У  вас  выработана  определенная  финансовая  стратеги
я,  и  в  ближайшем 
будущем возможен качественный и количественный финансовый рост. Вам 
осталось только дисциплинированно реализовывать свои финансовые планы 
и скоро вы перейдете в уровень финансовой независимости и свободы!
З
десь  уже  такой  интересный  уровен
ь,  когда  финансы
(
деньги
)
не 
являются проблемой. Деньги являются задачей
!
Итак, например, задача: в 
этом месяце заработать 
3000
. Или задача
:
инвестировать очередной миллион 
рублей. Деньги, как правило, это задача. 
З
десь
уже  можно  повышать  уровень  риска.  Что  самое  интересно, 
именно здесь, потому что дальше при большем финансовом 
IQ
его наоборот 
нужно снижать. Это тот самый диапазон, когда можно пробовать различные 
стратегии, можно рис
ковать. Почему можно рисковать? 
–
Потом
у что этот 
уровень озн
ачает то, что деньги у вас есть, и, 
соответственно
,
риски, которые 
вы несете в инвестициях, уже перестрахованы теми деньгами, которые вы 
зарабатываете.</div>
</div>
