<div>
<h3>41
-
80 баллов (Ваш результат: {{ result }})</h3>
<h2>
ФИНАНС
ОВЫЙ IQ 
–
СРЕДНИЙ</h2>
<div>
Вы уже начинаете осваиваться с денежными задачами.
Деньги  мягко  поддаются  управлению,  вы  можете  влиять  на  доходы  и 
расходы.
Вам  интересны  новые  финансовые  перспективы,  и  вы  готовы  их 
использовать.
Если вам немного добавить знаний и действ
ий 
–
вы можете достаточно 
быстро перейти на следующий финансовый уровень!
Этот  у
ровень  финансового 
IQ
говорит  о  том,  что  д
еньги  уже  вам 
поддаются, 
уже  управляемы
ми
деньги  становятся. 
С
этой  позиции  уже 
можно инвестировать, но крайне
-
крайне осторожно! Я б
ы
рекомендовал на 
это уровне заниматься простейшим инвестированием.</div>
</div>
